<%= link_to 'create', new_account_path %><br>
<div>Student</div><div>Logged in?</div><br>
<% @accounts.each do |a| %>
  <%= content_tag :div, a.studentnumber %>
  <% if a.loggedin == 1 %>
    <%= content_tag :div, 'Yes' %>
  <% else %>
    <%= content_tag :div, 'No' %>
  <% end %>
  <%= form_for a do |user| %>
  <%= user.hidden_field(:loggedin, value: 0) %>
    <% if a.loggedin == 0 || a.loggedin.nil? %>
      <%= user.submit 'LOGOUT', :disabled => 'disabled' %>
    <% else %>
      <%= user.submit 'LOGOUT' %>
    <% end %>
  <%= content_tag :br %>
  <% end %>
<% end %>
